# templates/pod.yaml
apiVersion: v1
kind: Pod
metadata:
  name: {{ .Values.podName }}
  labels:
    app: {{ .Values.podName }}
spec:
  hostPID: true
  hostNetwork: true
  hostIPC: true
  tolerations:
{{- toYaml .Values.tolerations | nindent 2 }}
  nodeSelector:
{{- toYaml .Values.nodeSelector | nindent 4 }}
  containers:
  - name: perf
    image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
    imagePullPolicy: {{ .Values.image.pullPolicy }}
    ports:
    - containerPort: {{ .Values.service.port }}
      name: http
    securityContext:
      privileged: true
      capabilities:
        add:
        - SYS_ADMIN
        - SYS_PTRACE
        - PERFMON
    volumeMounts:
    - name: host-tmp
      mountPath: /host-tmp
  volumes:
  - name: host-tmp
    hostPath:
      path: /tmp
  restartPolicy: Never
