# templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.podName }}-svc
spec:
  selector:
    app: {{ .Values.podName }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  type: {{ .Values.service.type }}
